/********** Base styles **********/
* {
  box-sizing: border-box;  
 /*  margin: 0;
  padding: 0;*/
}

header > div{
font-family: 'Indie Flower', cursive;
font-size: xx-large;
color: #085E4F;
text-align: center;
vertical-align: middle;
line-height: 50px;
}

p {   
  width: 90%;
  height: 95%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;  
  overflow: auto;
}

.colHeader {
  position: absolute;
  width: 30%;
  height: 25px;
  right: 0;
  top: 0px;
  border: 1px solid black;
  font-family: 'Indie Flower', cursive;
 font-weight: bold;
  color: black;
  text-align: center;
}

.colHeaderA {
  background-color: #E7BEFA;
}

.colHeaderB {
  background-color: #BEFAED;
}

.colHeaderC {
  background-color: #FDFFDE;
}

.content {
  position: relative;
  top: 35px;
  height: 210px;  
  background-color: #669999;
  overflow: hidden;

}

.innerContainer {
  width: 90%;
  height: 90%;
  position: relative;
  left: 5%;  
  top: 5%;
  border: 1px solid black;  
  background-color: #669999;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

 .col-sm-12 {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;    
    position: relative;    
    /*width: 94%;*/
  }


/********** Large devices only (Desktop) **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;   
    height: 300px;       
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
    /*width: 31.33%;*/
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only (Tablet) **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;  
    height: 300px;    
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
    /*width: 31.33%;*/
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
    /*width: 94%;*/
  }
  .col-md-12 .innerContainer {
  width: 95%;
  height: 90%;
  position: relative;
  left: 2.5%;  
  top: 5%;
  border: 1px solid black;  
  background-color: #669999;
}
}

